/*
Define color scheme
*/
/*  MIXINS */
#quiz-page {
  display: block; }

#quiz-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(240, 110, 3, 0.993); }

#question-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px; }

#answers-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap; }
