@import './variables.scss';
#categoryPicker{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categories-grid{
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
    margin: 4vh 0px;
}
    