@import './variables.scss';

.category-thumbnail{
    height: 120px;
    width: 120px;
    margin: 1%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    font-family: $font2;
    @include flex-center(column, space-around, center);
    img{
        height: 70px;
    }
    p{
        text-align: center;
    }
    &:hover{
        background-color: lighten($yellow, 25%);
    }
}

.thumb-select{
    background-color: $yellow;
}

