@import './variables';
.title-wrapper{
    @include titleWrapper;
    h1 {
        color: $dark-blue;
         font-weight: 600;
         font-size: 1.4em;
         font-family: $subtitle-font;
    }
}