@import "./variables";

#difficultyPicker{
    height: 360px;
    @include flex-center(column, flex-start, center);
}

#difficulty-btns-wrapper{
    height: calc(100% - 40px);
    width: 100%;
    border-radius: 2px rgb(0, 0, 0) solid;
    background-color: #fff;
    border-radius: $primary-border-radius;
    @include flex-center(column, center, center);
}

.difficulty-btn{
    @include quiz-btn;
    width: 45%;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #fff;
    &:hover{
        background-color: darken(rgb(0, 153, 255), 8%);
    }
    p{
        font-weight: 800;
        color: #fff;
    }
}

.select-easy{
    background-color: rgba(49, 179, 16, 0.877);
    &:hover{
        background-color: darken(rgba(49, 179, 16, 0.877), 8%);
    }
}

.select-medium{
    background-color: $orange;
    &:hover{
        background-color: darken($orange, 8%);
    }
}
.select-hard{
    background-color: rgba(177, 5, 5, 0.952);
    &:hover{
        background-color: darken(rgba(177, 5, 5, 0.952), 8%);
    }
}