#pageHeader{
    height: 70px;
    background-color: rgb(24, 179, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageTitle{
    color: white;
    font-weight: 800;
    font-size: 2em;
}