@import './variables.scss';

#pageHeader{
    height: 70px;
    background-color: $dark-blue;
   @include flex-center(row, flex-start, center);
   font-family: $title-font;
   padding: 0 20px;
}

#pageTitle{
    color: #fff;
    font-weight: 800;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
}