@import './variables.scss';

#pageHeader{
    height: 70px;
    background-color: rgb(0, 103, 199);
   @include flex-center;
}

#pageTitle{
    color: white;
    font-weight: 800;
    font-size: 2em;
}