
@import './variables.scss';

.question-number-picker{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    width: 100%;   
    height: 200px;
    @include flex-center(column, space-between, center);
}

#question-number-wrapper{
    
    height: 100%;
    width:80%;

    // display: flex;
    // justify-content: space-around;
    @include flex-center(row, space-around, center);


}
.question-number-btn{
    border-radius: $primary-border-radius;
    width: 70px;
    @include quiz-btn;
}

#selected-nbr{
    background-color: $yellow;
    color: $dark-blue;
}

